LIBS

In [1]:
import findspark

# Encontra a instalação do Spark no sistema
findspark.init()

# Importa o PySpark após o findspark ter configurado o ambiente
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.types import DoubleType, StringType
import os

DATAFRAME

Session

In [2]:
spark = SparkSession.builder.appName("ExemploDF").getOrCreate()
spark.sparkContext.setLogLevel("INFO")

spark

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 51770)
Traceback (most recent call last):
  File "c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\socketserver.py", line 720, in __init__
    self.handle()
  File "c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\pyspark\accumulators.py", line 295, in handle
    poll(accum_updates)
  File "c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\pyspark\accumulators.py", line 267, in poll
    if self.rfile in r and func():
  File "c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\pyspark\accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
  File "c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
  File "c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\socket.py", line 704, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [WinError 10054] Foi forçado o cancelamento de uma conexão existente pelo host remoto
----------------------------------------

DATAFRAME

In [3]:
# Criando dados
dados = [("Alice", 29), ("Bob", 35), ("Carlos", 42)]

# Criando DataFrame
df = spark.createDataFrame(dados, ["nome", "idade"])

# Mostrar o DataFrame
df.show()

+------+-----+
|  nome|idade|
+------+-----+
| Alice|   29|
|   Bob|   35|
|Carlos|   42|
+------+-----+

CARREGAR DADOS PARA O DATAFRAME

In [4]:
path = r'c:\Users\Usuario\Desktop\DADOS SPARK\empresas\part-00000-58983ad4-8444-4405-aec6-9cd3e5413d1b-c000.csv'

# Lendo todos os arquivos CSV na pasta
empresas = spark.read.option("mode", "DROPMALFORMED").csv(path, sep=';', inferSchema=True)

# Exibindo o DataFrame
empresas.show(5)

+-----+--------------------+----+---+---------+---+----+
|  _c0|                 _c1| _c2|_c3|      _c4|_c5| _c6|
+-----+--------------------+----+---+---------+---+----+
| 4519|DANIELA DA SILVA ...|2135| 50|     0,00|  5|NULL|
| 8638|JOAO DOS SANTOS F...|2135| 50|     0,00|  5|NULL|
|11748|PANIFICADORA E CO...|2062| 49|     0,00|  1|NULL|
|12027| L G SORVETERIA LTDA|2062| 49|     0,00|  5|NULL|
|13289|ANDREIA CRISTINA ...|2305| 65|100000,00|  1|NULL|
+-----+--------------------+----+---+---------+---+----+
only showing top 5 rows

In [5]:
path = r'c:\Users\Usuario\Desktop\DADOS SPARK\estabelecimentos\part-00000-701c2cc9-d9db-469f-be12-341c24a77308-c000.csv'

# Lendo todos os arquivos CSV na pasta
estabelecimentos = spark.read.option("mode", "DROPMALFORMED").csv(path, sep=';', inferSchema=True)

# Exibindo o DataFrame
estabelecimentos.show(5)

+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+----+-------+------------------+-----+-------------------+----------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
|  _c0|_c1|_c2|_c3|                 _c4|_c5|     _c6|_c7| _c8| _c9|    _c10|   _c11|_c12|   _c13|              _c14| _c15|               _c16|            _c17|    _c18|_c19|_c20|_c21|    _c22|_c23|_c24|_c25|_c26|                _c27|_c28|_c29|
+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+----+-------+------------------+-----+-------------------+----------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
| 4519|  1| 48|  1|            GIRAFFAS|  8|19950331|  1|NULL|NULL|19940516|5611203|NULL|    RUA|     HENRIQUE SAVI|15 55|LOJA UN2A 01 TERREO|JARDIM AEROPORTO|17012205|  SP|6219|NULL|    NULL|NULL|NULL|NULL|NULL|                NULL|NULL|NULL|
| 8638|  1| 79|  1|AGROPECUARIA FAGU...|  8|20150209| 73|NULL|NULL|19940524|4771704|NULL|AVENIDA| EUCLIDES DA CUNHA|  474|              SALAO|          CENTRO|19275000|  SP|7255|NULL|    NULL|NULL|NULL|NULL|NULL|                NULL|NULL|NULL|
|11748|  1| 90|  1|                NULL|  4|20181219| 63|NULL|NULL|19940531|4721102|NULL|    RUA|    JOSE BONIFACIO|  110|               NULL|      VILA DINIZ|15013150|  SP|7097|NULL|    NULL|NULL|NULL|NULL|NULL|                NULL|NULL|NULL|
|12027|  1|  2|  1|                NULL|  8|20081231| 71|NULL|NULL|19940608|4721104|NULL|AVENIDA|      INDIANOPOLIS| 3304|               NULL|           SAUDE| 4062003|  SP|7107|NULL|    NULL|NULL|NULL|NULL|NULL|                NULL|NULL|NULL|
|13289|  1| 83|  1|JS MATERIAIS DE C...|  2|20040123|  0|NULL|NULL|19940601|4744099|NULL|    RUA|SALVADOR TAMAIOLLI|  165|               NULL|   PORTO BELLO I|13660000|  SP|6915|  19|35811286|NULL|NULL|NULL|NULL|CONTATO@LEONECONT...|NULL|NULL|
+-----+---+---+---+--------------------+---+--------+---+----+----+--------+-------+----+-------+------------------+-----+-------------------+----------------+--------+----+----+----+--------+----+----+----+----+--------------------+----+----+
only showing top 5 rows

In [6]:
path = r'c:\Users\Usuario\Desktop\DADOS SPARK\socios\part-00000-1ab6459b-5a3c-4294-83b8-316c171f0202-c000.csv'

# Lendo todos os arquivos CSV na pasta
socios = spark.read.option("mode", "DROPMALFORMED").csv(path, sep=';', inferSchema=True)

# Exibindo o DataFrame
socios.show(5)

+-----+---+--------------------+-----------+---+--------+----+-----------+----+---+----+
|  _c0|_c1|                 _c2|        _c3|_c4|     _c5| _c6|        _c7| _c8|_c9|_c10|
+-----+---+--------------------+-----------+---+--------+----+-----------+----+---+----+
|11748|  2|   MARIO KATUMI HOSI|***504158**| 49|19940530|NULL|***000000**|NULL|  0|   7|
|11748|  2|  ROBERTO YUKIO HOSI|***241578**| 22|19940530|NULL|***000000**|NULL|  0|   7|
|13289|  2|ANDREIA CRISTINA ...|***787278**| 65|20180615|NULL|***000000**|NULL|  0|   3|
|17389|  2|MARCIA DO CANTO A...|***920408**| 49|19940613|NULL|***000000**|NULL|  0|   7|
|19204|  2|ALMIR CARLOS CAPE...|***299028**| 49|19980908|NULL|***000000**|NULL|  0|   7|
+-----+---+--------------------+-----------+---+--------+----+-----------+----+---+----+
only showing top 5 rows

In [7]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']
for index,colName in enumerate(empresasColNames):
    empresas = empresas.withColumnRenamed(f"_c{index}", colName)

empresas.columns

['cnpj_basico',
 'razao_social_nome_empresarial',
 'natureza_juridica',
 'qualificacao_do_responsavel',
 'capital_social_da_empresa',
 'porte_da_empresa',
 'ente_federativo_responsavel']

In [8]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']
for index,colName in enumerate(estabsColNames):
    estabelecimentos = estabelecimentos.withColumnRenamed(f"_c{index}", colName)

estabelecimentos.columns

['cnpj_basico',
 'cnpj_ordem',
 'cnpj_dv',
 'identificador_matriz_filial',
 'nome_fantasia',
 'situacao_cadastral',
 'data_situacao_cadastral',
 'motivo_situacao_cadastral',
 'nome_da_cidade_no_exterior',
 'pais',
 'data_de_inicio_atividade',
 'cnae_fiscal_principal',
 'cnae_fiscal_secundaria',
 'tipo_de_logradouro',
 'logradouro',
 'numero',
 'complemento',
 'bairro',
 'cep',
 'uf',
 'municipio',
 'ddd_1',
 'telefone_1',
 'ddd_2',
 'telefone_2',
 'ddd_do_fax',
 'fax',
 'correio_eletronico',
 'situacao_especial',
 'data_da_situacao_especial']

In [9]:
sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']
for index,colName in enumerate(sociosColNames):
    socios = socios.withColumnRenamed(f"_c{index}", colName)

socios.columns

['cnpj_basico',
 'identificador_de_socio',
 'nome_do_socio_ou_razao_social',
 'cnpj_ou_cpf_do_socio',
 'qualificacao_do_socio',
 'data_de_entrada_sociedade',
 'pais',
 'representante_legal',
 'nome_do_representante',
 'qualificacao_do_representante_legal',
 'faixa_etaria']

In [10]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,4519,DANIELA DA SILVA CRUZ,2135,50,"0,00",5,None
1,8638,JOAO DOS SANTOS FAGUNDES,2135,50,"0,00",5,None
2,11748,PANIFICADORA E CONFEITARIA CONFIANCA RIO PRETO...,2062,49,"0,00",1,None
3,12027,L G SORVETERIA LTDA,2062,49,"0,00",5,None
4,13289,ANDREIA CRISTINA DELSIN EIRELI,2305,65,"100000,00",1,None

In [11]:
estabelecimentos.limit(5).toPandas()

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,4519,1,48,1,GIRAFFAS,8,19950331,1,None,NaN,...,6219,NaN,None,NaN,None,NaN,None,None,None,None
1,8638,1,79,1,AGROPECUARIA FAGUNDES,8,20150209,73,None,NaN,...,7255,NaN,None,NaN,None,NaN,None,None,None,None
2,11748,1,90,1,None,4,20181219,63,None,NaN,...,7097,NaN,None,NaN,None,NaN,None,None,None,None
3,12027,1,2,1,None,8,20081231,71,None,NaN,...,7107,NaN,None,NaN,None,NaN,None,None,None,None
4,13289,1,83,1,JS MATERIAIS DE CONSTRUCAO,2,20040123,0,None,NaN,...,6915,19.0,35811286,NaN,None,NaN,None,CONTATO@LEONECONTABIL.COM.BR,None,None

In [12]:
socios.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,11748,2,MARIO KATUMI HOSI,***504158**,49,19940530,NaN,***000000**,None,0,7
1,11748,2,ROBERTO YUKIO HOSI,***241578**,22,19940530,NaN,***000000**,None,0,7
2,13289,2,ANDREIA CRISTINA DELSIN,***787278**,65,20180615,NaN,***000000**,None,0,3
3,17389,2,MARCIA DO CANTO ARRUDA DAIER,***920408**,49,19940613,NaN,***000000**,None,0,7
4,19204,2,ALMIR CARLOS CAPELLINI,***299028**,49,19980908,NaN,***000000**,None,0,7

In [13]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [14]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: integer (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: integer (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: string (nullable = true)

In [15]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

TRATANDO OS DADOS

In [16]:
'''
String para double
'''

empresas = empresas.withColumn(
    'capital_social_da_empresa',
    f.regexp_replace('capital_social_da_empresa', ',', '.')
)
empresas = empresas.withColumn(
    'capital_social_da_empresa',
    empresas['capital_social_da_empresa'].cast(DoubleType())
)
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [17]:
'''
String para Date
'''
lista_to_date = [
    'data_situacao_cadastral',
    'data_de_inicio_atividade',
    'data_da_situacao_especial',
]

for col in lista_to_date:
    estabelecimentos = estabelecimentos.withColumn(
        col,
        f.to_date(estabelecimentos[col].cast(StringType()), 'yyyyMMdd')
    )

estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: integer (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: integer (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [18]:
'''
String para Date
'''

socios = socios.withColumn(
    'data_de_entrada_sociedade',
    f.to_date(socios['data_de_entrada_sociedade'].cast(StringType()), 'yyyyMMdd')
)

socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

SELECIONANDO INFORMAÇÕES

In [19]:
empresas.select(
    'natureza_juridica', 
    'porte_da_empresa',
).show(5, False)

+-----------------+----------------+
|natureza_juridica|porte_da_empresa|
+-----------------+----------------+
|2135             |5               |
|2135             |5               |
|2062             |1               |
|2062             |5               |
|2305             |1               |
+-----------------+----------------+
only showing top 5 rows

In [20]:
socios.select(
    'nome_do_socio_ou_razao_social',
    'faixa_etaria',
    'data_de_entrada_sociedade',
    f.year('data_de_entrada_sociedade').alias('ano_de_entrada')
).show(5)

+-----------------------------+------------+-------------------------+--------------+
|nome_do_socio_ou_razao_social|faixa_etaria|data_de_entrada_sociedade|ano_de_entrada|
+-----------------------------+------------+-------------------------+--------------+
|            MARIO KATUMI HOSI|           7|               1994-05-30|          1994|
|           ROBERTO YUKIO HOSI|           7|               1994-05-30|          1994|
|         ANDREIA CRISTINA ...|           3|               2018-06-15|          2018|
|         MARCIA DO CANTO A...|           7|               1994-06-13|          1994|
|         ALMIR CARLOS CAPE...|           7|               1998-09-08|          1998|
+-----------------------------+------------+-------------------------+--------------+
only showing top 5 rows

DADOS NULLOS

In [21]:
socios.show(5)

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
|      11748|                     2|            MARIO KATUMI HOSI|         ***504158**|                   49|               1994-05-30|NULL|        ***000000**|                 NULL|                                  0|           7|
|      11748|                     2|           ROBERTO YUKIO HOSI|         ***241578**|                   22|               1994-05-30|NULL|        ***000000**|                 NULL|                                  0|           7|
|      13289|                     2|         ANDREIA CRISTINA ...|         ***787278**|                   65|               2018-06-15|NULL|        ***000000**|                 NULL|                                  0|           3|
|      17389|                     2|         MARCIA DO CANTO A...|         ***920408**|                   49|               1994-06-13|NULL|        ***000000**|                 NULL|                                  0|           7|
|      19204|                     2|         ALMIR CARLOS CAPE...|         ***299028**|                   49|               1998-09-08|NULL|        ***000000**|                 NULL|                                  0|           7|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+----+-------------------+---------------------+-----------------------------------+------------+
only showing top 5 rows

In [22]:
socios.select(
    [f.count(f.when(f.isnull(c), 1)).alias(c) for c in socios.columns]
).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+------+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|  pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+------+-------------------+---------------------+-----------------------------------+------------+
|          0|                     0|                           18|                 109|                    0|                        0|203586|                  0|               199229|                                  0|           0|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+------+-------------------+---------------------+-----------------------------------+------------+

In [23]:
empresas = empresas.na.fill('-').na.fill(0)
estabelecimentos = estabelecimentos.na.fill('-').na.fill(0)
socios = socios.na.fill('-').na.fill(0)

ORDENAR

In [24]:
socios.select(
    'nome_do_socio_ou_razao_social',
    'faixa_etaria',
    'data_de_entrada_sociedade',
    f.year('data_de_entrada_sociedade').alias('ano_de_entrada')
).orderBy(
    ['ano_de_entrada', 'faixa_etaria'],
    ascending = [False, True]
).show(10)

+-----------------------------+------------+-------------------------+--------------+
|nome_do_socio_ou_razao_social|faixa_etaria|data_de_entrada_sociedade|ano_de_entrada|
+-----------------------------+------------+-------------------------+--------------+
|         CGC 1 PARTICIPACO...|           0|               2021-02-08|          2021|
|         MOVAH PARTICIPACO...|           0|               2021-03-01|          2021|
|         SAO JERONIMO EMPR...|           0|               2021-01-22|          2021|
|         SOGEST PARTICIPAC...|           0|               2021-04-06|          2021|
|         USINA DE ENERGIA ...|           0|               2021-03-15|          2021|
|         LH. REDE PARTICIP...|           0|               2021-02-04|          2021|
|         PMO GONCALVES PAR...|           0|               2021-01-06|          2021|
|         DTHOKI INVESTIMEN...|           0|               2021-01-25|          2021|
|           BIVI SERVICOS LTDA|           0|               2021-03-30|          2021|
|         DROGA ROCHA DISTR...|           0|               2021-01-22|          2021|
+-----------------------------+------------+-------------------------+--------------+
only showing top 10 rows

FILTROS

In [25]:
empresas.where(
    'capital_social_da_empresa < 50'
    ).orderBy(
        'capital_social_da_empresa',
        ascending=False
    ).show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|   33487689|         DOUGLAS FAUSTINO ...|             2135|                         50|                     49.9|               1|                          -|
|   22081642|         PATRICIA CRISTINE...|             2135|                         50|                     49.0|               1|                          -|
|   25325590|         ELLEN BRASIL MORE...|             2135|                         50|                     49.0|               1|                          -|
|   23458341|         GEAN CARLOS ANDRE...|             2135|                         50|                     45.0|               1|                          -|
|   24480729|         ROSANA MARIA DA S...|             2135|                         50|                     45.0|               1|                          -|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [26]:
socios.select(
    "nome_do_socio_ou_razao_social"
    ).filter(
        socios.nome_do_socio_ou_razao_social.startswith("GABRIEL ")
    ).limit(10).toPandas()

              nome_do_socio_ou_razao_social
0                         GABRIEL GONCALVES
1  GABRIEL HENRIQUE CASTELO BRANCO DE JESUS
2                     GABRIEL ARRUDA BICUDO
3                     GABRIEL AUGUSTO LOPES
4                     GABRIEL COSTA BACELAR
5             GABRIEL CUNHA DIAS DOS SANTOS
6                      GABRIEL TADEU PILATI
7                   GABRIEL MENEZES MACHADO
8          GABRIEL FELIPE DE OLIVEIRA ALVES
9                  GABRIEL DE SOUZA FRASSON

LIKE\
%---% possue a palavra\
---%  começa com a palavra\
%---  termina com a palavra

In [28]:
empresas.where(
    f.upper(empresas['razao_social_nome_empresarial']).like(
        '% BRASIL %'
    )
).show(10, False)

+-----------+--------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                                                   |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+--------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|751503     |COOP DE CONS DOS FUNCS DO BCO DO BRASIL NO EST GO LTDA                          |2143             |16                         |0.0                      |5               |-                          |
|1461315    |PORTO BRASIL INDUSTRIA E COMERCIO LTDA                                          |2062             |49                         |0.0                      |5               |-                          |
|1543862    |COMERCIAL B F BRASIL LTDA                                                       |2062             |49                         |0.0                      |5               |-                          |
|2088272    |LAISE DE NAZARE BRASIL ALVES                                                    |2135             |50                         |0.0                      |5               |-                          |
|2198452    |MORETTO DO BRASIL INDUSTRIA, COMERCIO, IMPORTACAO E EXPORTACAO DE MAQUINAS LTDA.|2062             |5                          |3500000.0                |5               |-                          |
|3010729    |FESTIVAL & REVISTA DANCA BRASIL SOCIEDADE UNIPESSOAL LTDA                       |2062             |49                         |2000.0                   |1               |-                          |
|3564710    |GALVANIZACAO BRASIL LTDA                                                        |2062             |49                         |0.0                      |5               |-                          |
|3746270    |G BRASIL PARTICIPACOES LTDA                                                     |2062             |49                         |7.5183E7                 |5               |-                          |
|3864676    |DIRETORIO MUNICIPAL DO PARTIDO TRABALHISTA DO BRASIL - PT DO B                  |3999             |16                         |0.0                      |5               |-                          |
|3969554    |PCDOB - PARTIDO COMUNISTA DO BRASIL - DIRETORIO MUNICIPAL                       |3271             |16                         |0.0                      |5               |-                          |
+-----------+--------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 10 rows

AGRUPAMENTOS

In [33]:
socios\
    .select(f.year('data_de_entrada_sociedade').alias('ano_de_entrada'))\
    .where('ano_de_entrada >= 2010')\
    .groupBy('ano_de_entrada')\
    .count()\
    .orderBy('ano_de_entrada', ascending=True)\
    .show()

+--------------+-----+
|ano_de_entrada|count|
+--------------+-----+
|          2010| 8033|
|          2011| 8241|
|          2012| 7971|
|          2013| 8334|
|          2014| 7955|
|          2015| 8060|
|          2016| 8220|
|          2017| 8917|
|          2018| 9924|
|          2019|11806|
|          2020|12508|
|          2021| 5531|
+--------------+-----+

In [34]:
empresas\
    .select('cnpj_basico', 'porte_da_empresa', 'capital_social_da_empresa')\
    .groupBy('porte_da_empresa')\
    .agg(
        f.avg("capital_social_da_empresa").alias("capital_social_medio"),
        f.count("cnpj_basico").alias("frequencia")
    )\
    .orderBy('porte_da_empresa', ascending=True)\
    .show()

+----------------+--------------------+----------+
|porte_da_empresa|capital_social_medio|frequencia|
+----------------+--------------------+----------+
|               0|                 0.0|       576|
|               1|   207941.5230179709|    312561|
|               3|   154639.3795564377|     11588|
|               5|   606829.3027531683|    133824|
+----------------+--------------------+----------+

In [35]:
# .summary("count","mean","stddev","min","25%","50%","75%","max")

empresas\
    .select("capital_social_da_empresa")\
    .summary()\
    .show()

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|  count|                   458549|
|   mean|        322745.6523031563|
| stddev|       8.07697065086015E7|
|    min|                      0.0|
|    25%|                      0.0|
|    50%|                   1000.0|
|    75%|                   7000.0|
|    max|          5.2202625985E10|
+-------+-------------------------+

JUNTAR DF\
inner -> apenas o que existe nos dois df\
left -> colunas presentes no df da esquerda\
right -> colunas presentes no df da direita\
outer -> todas as colunas

In [36]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = false)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = false)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = false)

In [37]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = false)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = false)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = false)
 |-- tipo_de_logradouro: string (nullable = false)
 |-- logradouro: string (nullable = false)
 |-- numero: string (nullable = false)
 |-- complemento: string (nullable = false)
 |-- bairro: string (nullable = false)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = false)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: integer (nullable = true)
 |-- telefone_1: string (nullable = false)
 |-- ddd_2: integer (nullable = true)
 |-- telefone_2: string (nullable = false)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = false)
 |-- correio_eletronico: string (nullable = false)
 |-- situacao_especial: string (nullable = false)
 |-- data_da_situacao_especial: date (nullable = true)

In [38]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = false)
 |-- cnpj_ou_cpf_do_socio: string (nullable = false)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = false)
 |-- nome_do_representante: string (nullable = false)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [40]:
#cnpj_basico

empresas_join = empresas.join(
    estabelecimentos,
    'cnpj_basico',
    how='inner'
)
empresas_join.show()

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+-------------------+-------------------+--------+---+---------+-----+----------+-----+----------+----------+-------+--------------------+-----------------+-------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|cnpj_ordem|cnpj_dv|identificador_matriz_filial|       nome_fantasia|situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria|tipo_de_logradouro|          logradouro|numero|        complemento|             bairro|     cep| uf|municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|    fax|  correio_eletronico|situacao_especial|data_da_situacao_especial|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+-------------------+-------------------+--------+---+---------+-----+----------+-----+----------+----------+-------+--------------------+-----------------+-------------------------+
|        243|         IN FOCO PRODUCOES...|             2240|                         49|                    500.0|               1|                          -|         1|     20|                          1|                   -|                 2|             2005-08-27|                        0|                         -|   0|              1994-07-29|              7420001|                     -|               RUA|PROF RIVADAVIA CA...|   366|                  -|     FREGUESIA DO O| 2961170| SP|     7107|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|        451|         CONSELHO PASTORAL...|             3999|                         16|                      0.0|               5|                          -|         1|     29|                          1|      CASA DO PASTOR|                 8|             2008-12-31|                       71|                         -|   0|              1994-10-04|              9491000|                     -|               RUA|GERALDO PIRE S GO...|   127|                  -|    JARDIM SAO LUIZ| 5843230| SP|     7107|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|        458|         AMERICO REGATIERI...|             2135|                         50|                   5000.0|               1|                          -|         1|     40|                          1|                   -|                 2|             2005-11-03|                        0|                         -|   0|              1994-10-10|              4614100|                     -|               RUA|          JURUBATUBA| 1.274|            2 ANDAR|             CENTRO| 9725000| SP|     7075|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|        879|         ETAMINE CONFECCOE...|             2062|                         49|                   1092.0|               1|                          -|         1|     71|                          1|                   -|                 8|             2017-07-24|                        1|                         -|   0|              1994-05-03|              1412601|               1412603|               RUA|       DAS PALMEIRAS|    45|                  -|       VILA AUGUSTA| 7022000| SP|     6477|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       1084|         DAILY FAVA FRIGO ...|             2135|                         50|                      0.0|               1|                          -|         1|     88|                          1|            EXCLUSIV|                 8|             2007-04-03|                        1|                         -|   0|              1994-05-05|              4781400|                     -|               RUA|   MARECHAL DEOLDORO|   702|             FUNDOS|             CENTRO|19700000| SP|     6811|   18|   3612408|    0|         -|        18|3612408|                   -|                -|                     NULL|
|       1699|              JORANDY DORICIO|             2135|                         50|                      0.0|               5|                          -|         1|      4|                          1|BAR E MERCEARIA S...|                 8|             1994-08-31|                        1|                         -|   0|              1994-05-06|              5611203|                     -|               RUA|          SANTA IRIA|  1239|                  -| VILA STA TEREZINHA|14815000| SP|     6487|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       1896|         SERRALHERIA CHUBA...|             2062|                         49|                  20000.0|               1|                          -|         1|     23|                          1|                   -|                 4|             2018-09-18|                       63|                         -|   0|              1994-05-06|              2512800|                     -|               RUA|ISAQUE VALADAO DE...|    82|                  -|    JARDIM SILVEIRA| 3274170| SP|     7107|   11|  29187211|    0|         -|         0|      -|                   -|                -|                     NULL|
|       2393|            HELIO MILANI LINS|             2135|                         50|                      0.0|               5|                          -|         1|     72|                          1|BAR E MERCEARIA D...|                 8|             2008-12-31|                       71|                         -|   0|              1994-05-12|              4712100|                     -|               RUA|PAULO APARECIDO A...|  1483|                  -|          JUNQUEIRA|16400033| SP|     6643|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       2525|         EUZENIR MENDES DO...|             2135|                         50|                      0.0|               5|                          -|         1|     66|                          1|                   -|                 8|             2008-12-31|                       71|                         -|   0|              1994-05-12|              4781400|                     -|               RUA|JOSE CARLOS DE TO...|   154|                  -|             CENTRO|11910000| SP|     7137|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       2580|         MAGALY ALVES MACI...|             2135|                         50|                      0.0|               1|                          -|         1|     56|                          1|  SORVETES ZERO GRAU|                 8|             2009-02-02|                        1|                         -|   0|              1994-05-12|              5611203|                     -|           AVENIDA|       MIRASSOLANDIA|  1273|                  -|           ELDORADO|15045000| SP|     7097|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       3352|         ELAINE CRISTINA D...|             2135|                         50|                      0.0|               1|                          -|         1|      9|                          1|                JUMP|                 8|             2008-12-31|                       71|                         -|   0|              1994-05-10|              1412601|               1412603|               RUA|VISCONDE DE SABUGOSA|   341|                  -|CHACARA DO VISCONDE|12050830| SP|     7183|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       3698|         CARLOS CESAR DE F...|             2135|                         50|                      0.0|               3|                          -|         1|      7|                          1|                   -|                 8|             2020-06-01|                        1|                         -|   0|              1994-05-17|              2829199|  2593400,2862300,4...|           AVENIDA|    NAMEM ABRAO JANA|   180|                  -|  PARQUE INDUSTRIAL|15840000| SP|     6539|   17|  35234908|    0|         -|        17|5461059|paulosenturion@ho...|                -|                     NULL|
|       3876|              AGNALDO PEIXOTO|             2135|                         50|                      0.0|               1|                          -|         1|     91|                          1|                   -|                 8|             2009-10-20|                        1|                         -|   0|              1994-05-13|              4755501|                     -|               RUA|      GUILHERME WOLF|   475|                  -|       VILA OITENTA|18900000| SP|     7029|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       4042|         JOSE ROBERTO OLIV...|             2135|                         50|                      0.0|               5|                          -|         1|      9|                          1|            DESENTEC|                 8|             2003-06-24|                        1|                         -|   0|              1994-05-13|              4761001|                     -|               RUA| HEITOR DOS PRAZERES|   288|                  -|           FERREIRA| 5522000| SP|     7107|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       4519|         DANIELA DA SILVA ...|             2135|                         50|                      0.0|               5|                          -|         1|     48|                          1|            GIRAFFAS|                 8|             1995-03-31|                        1|                         -|   0|              1994-05-16|              5611203|                     -|               RUA|       HENRIQUE SAVI| 15 55|LOJA UN2A 01 TERREO|   JARDIM AEROPORTO|17012205| SP|     6219|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       5740|         STUDIUM COMERCIO ...|             2062|                         49|                  14000.0|               1|                          -|         1|     10|                          1|             STUDIUM|                 8|             2011-10-27|                        1|                         -|   0|              1994-05-17|              4641901|                     -|               RUA|           TRES RIOS|   488|              E 492|         BOM RETIRO| 1123001| SP|     7107|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       6559|         ALPHABRAS INDUSTR...|             2062|                         49|                      0.0|               5|                          -|         2|      0|                          2|                   -|                 8|             1995-04-19|                        1|                         -|   0|              1994-09-30|              4642701|                     -|               RUA|    DR LUIZ MIGLIANO|  1110|       CONJUNTO 702|            MORUMBI| 5711001| SP|     7107|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       6559|         ALPHABRAS INDUSTR...|             2062|                         49|                      0.0|               5|                          -|         1|     29|                          1|           ALPHABRAS|                 8|             2008-12-31|                       71|                         -|   0|              1994-05-18|              4642701|                     -|           RODOVIA|CASTELO BRANCO KM...|   S/N|SENTIDO INT-CAPITAL|          JD BELVAL| 6436240| SP|     6213|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       6773|         FELIX OLICHESKI V...|             2135|                         50|                      0.0|               1|                          -|         1|     85|                          1|                   -|                 2|             2006-12-21|                        0|                         -|   0|              1994-05-20|              4781400|                     -|           AVENIDA|                   6|  1057|                  -|             CENTRO|13500270| SP|     6979|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
|       7281|         COMERCIAL LEME & ...|             2062|                         49|                      0.0|               5|                          -|         1|      4|                          1|                   -|                 8|             1998-10-13|                        1|                         -|   0|              1994-05-19|              4774100|                     -|               RUA|               CHILE|   301|                  -|          FREZZARIN|13465740| SP|     6131|    0|         -|    0|         -|         0|      -|                   -|                -|                     NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+----------------------+------------------+--------------------+------+-------------------+-------------------+--------+---+---------+-----+----------+-----+----------+----------+-------+--------------------+-----------------+-------------------------+
only showing top 20 rows

In [42]:
freq = empresas_join\
    .select(
        'cnpj_basico', 
        f.year('data_de_inicio_atividade').alias('data_de_inicio')
    )\
    .where('data_de_inicio >= 2010')\
    .groupBy('data_de_inicio')\
    .agg(f.count("cnpj_basico").alias("frequencia"))\
    .orderBy('data_de_inicio', ascending=True)
freq.show()

+--------------+----------+
|data_de_inicio|frequencia|
+--------------+----------+
|          2010|     15608|
|          2011|     16993|
|          2012|     23500|
|          2013|     19987|
|          2014|     20162|
|          2015|     21261|
|          2016|     26990|
|          2017|     23669|
|          2018|     27745|
|          2019|     32587|
|          2020|     39828|
|          2021|     15218|
+--------------+----------+

In [43]:
freq.union(
    freq.select(
        f.lit('Total').alias('data_de_inicio'),
        f.sum(freq.frequencia).alias('frequencia')   
    )
).show()

+--------------+----------+
|data_de_inicio|frequencia|
+--------------+----------+
|          2010|     15608|
|          2011|     16993|
|          2012|     23500|
|          2013|     19987|
|          2014|     20162|
|          2015|     21261|
|          2016|     26990|
|          2017|     23669|
|          2018|     27745|
|          2019|     32587|
|          2020|     39828|
|          2021|     15218|
|         Total|    283548|
+--------------+----------+

SQL

In [44]:
empresas.createOrReplaceTempView("empresasView")

In [45]:
spark.sql("SELECT * FROM empresasView").show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|       4519|         DANIELA DA SILVA ...|             2135|                         50|                      0.0|               5|                          -|
|       8638|         JOAO DOS SANTOS F...|             2135|                         50|                      0.0|               5|                          -|
|      11748|         PANIFICADORA E CO...|             2062|                         49|                      0.0|               1|                          -|
|      12027|          L G SORVETERIA LTDA|             2062|                         49|                      0.0|               5|                          -|
|      13289|         ANDREIA CRISTINA ...|             2305|                         65|                 100000.0|               1|                          -|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [46]:
spark\
    .sql("""
        SELECT * 
            FROM empresasView 
            WHERE capital_social_da_empresa = 50
    """)\
    .show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|   14715041|         LIDIANE MARIA DO ...|             2135|                         50|                     50.0|               1|                          -|
|   20601885|         CRISTIANO AKIHITO...|             2135|                         50|                     50.0|               1|                          -|
|   23661983|         VITOR ALOISIO DO ...|             2135|                         50|                     50.0|               1|                          -|
|   23714726|         JOSELINA PANSINI ...|             2135|                         50|                     50.0|               1|                          -|
|   26022246|         SUZANE SILVA DE O...|             2135|                         50|                     50.0|               1|                          -|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [47]:
spark\
    .sql("""
        SELECT porte_da_empresa, MEAN(capital_social_da_empresa) AS Media 
            FROM empresasView 
            GROUP BY porte_da_empresa
    """)\
    .show(5)

+----------------+-----------------+
|porte_da_empresa|            Media|
+----------------+-----------------+
|               1|207941.5230179709|
|               3|154639.3795564377|
|               5|606829.3027531683|
|               0|              0.0|
+----------------+-----------------+

In [48]:
empresas_join.createOrReplaceTempView("empresasJoinView")

In [49]:
freq = spark\
    .sql("""
        SELECT YEAR(data_de_inicio_atividade) AS data_de_inicio, COUNT(cnpj_basico) AS count
            FROM empresasJoinView 
            WHERE YEAR(data_de_inicio_atividade) >= 2010
            GROUP BY data_de_inicio
            ORDER BY data_de_inicio
    """)

freq\
    .show()

+--------------+-----+
|data_de_inicio|count|
+--------------+-----+
|          2010|15608|
|          2011|16993|
|          2012|23500|
|          2013|19987|
|          2014|20162|
|          2015|21261|
|          2016|26990|
|          2017|23669|
|          2018|27745|
|          2019|32587|
|          2020|39828|
|          2021|15218|
+--------------+-----+

In [50]:
freq.createOrReplaceTempView("freqView")

In [51]:
spark\
    .sql("""
        SELECT *
            FROM freqView
        UNION ALL
        SELECT 'Total' AS data_de_inicio, SUM(count) AS count
            FROM freqView
    """)\
    .show()

+--------------+------+
|data_de_inicio| count|
+--------------+------+
|          2010| 15608|
|          2011| 16993|
|          2012| 23500|
|          2013| 19987|
|          2014| 20162|
|          2015| 21261|
|          2016| 26990|
|          2017| 23669|
|          2018| 27745|
|          2019| 32587|
|          2020| 39828|
|          2021| 15218|
|         Total|283548|
+--------------+------+