# ANALIZE DE SENTIMENTO

In [13]:
from textblob import TextBlob
from googletrans import Translator

In [14]:
frase = "Python é ótimo para machine learning"

In [15]:
translator = Translator()
frase_traduzida = translator.translate(frase, dest='en')
frase_traduzida = str(frase_traduzida)
tb = TextBlob(frase_traduzida)

In [16]:
tb.sentiment.polarity

0.8

# PREVER PREÇO CASA

In [17]:
import pandas as pd

In [18]:
data = pd.read_csv("data/casas.csv")
data

      tamanho   ano  garagem   preco
0       159.0  2003        2  208500
1       117.0  1976        2  181500
2       166.0  2001        2  223500
3       160.0  1915        3  140000
4       204.0  2000        3  250000
...       ...   ...      ...     ...
1455    153.0  1999        2  175000
1456    193.0  1978        2  210000
1457    217.0  1941        1  266500
1458    100.0  1950        1  142125
1459    117.0  1965        1  147500

[1460 rows x 4 columns]

In [38]:
x = data.drop(columns=['preco'])
y = data['preco']

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [39]:
x_train, x_test, y_train, y_test = train_test_split(
    x,y,
    test_size=0.2,
    random_state=5
)

In [40]:
x_train.head()

      tamanho   ano  garagem
1358    146.0  2000        2
390     127.0  1900        1
1334    127.0  1970        2
1072    135.0  1948        1
1443     88.0  1916        1

In [41]:
model = LinearRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7404547625219888

In [30]:
import pickle

In [42]:
with open("model2.pkl", "wb") as file:
    pickle.dump(model, file)

In [43]:
model.predict([[100,2000,3]])

c:\Users\Usuario\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([199945.91283321])