LIBS

In [1]:
import yfinance as yf

CARTEIRA

In [2]:
carteira_yf = ['ABEV3.SA', 'B3SA3.SA', 'ELET3.SA', 'GGBR4.SA', 'ITSA4.SA',
               'PETR4.SA', 'RENT3.SA', 'SUZB3.SA', 'VALE3.SA', 'WEGE3.SA']

In [3]:
df = yf.download(carteira_yf, start="2022-08-01", end="2023-08-01")

[*********************100%***********************]  10 of 10 completed

In [4]:
df

Price       Adj Close                                                        \
Ticker       ABEV3.SA   B3SA3.SA   ELET3.SA   GGBR4.SA  ITSA4.SA   PETR4.SA
Date
2022-08-01  12.517459   9.965201  44.577351  15.262523  5.896057  16.169098
2022-08-02  12.585906   9.901028  44.922466  15.733230  5.951290  16.241112
2022-08-03  12.517459  10.231063  45.066261  15.094872  5.999618  16.250710
2022-08-04  12.560239  10.909469  46.322102  15.572029  6.137698  16.423544
2022-08-05  12.491790  11.065317  46.139954  15.894434  6.220547  16.740395
...               ...        ...        ...        ...       ...        ...
2023-07-25  13.537273  14.165216  37.409050  22.373894  8.056423  23.468672
2023-07-26  13.492239  14.127419  38.180965  22.412470  8.027030  23.468672
2023-07-27  13.240047  13.796675  36.878353  21.972708  7.920657  22.249813
2023-07-28  13.474225  13.910071  36.685375  21.895559  8.027030  22.529924
2023-07-31  13.384157  14.080168  37.293262  22.566774  8.035213  23.551949

Price                                                   ...    Volume  \
Ticker       RENT3.SA   SUZB3.SA   VALE3.SA   WEGE3.SA  ...  ABEV3.SA
Date                                                    ...
2022-08-01  52.656380  43.352531  55.528912  26.874168  ...  34565900
2022-08-02  52.905113  43.708706  57.298847  27.356129  ...  12515800
2022-08-03  54.554073  43.224678  55.072144  27.105509  ...  19576600
2022-08-04  57.244011  43.087688  54.754044  27.770617  ...  22962500
2022-08-05  57.253223  43.644779  55.463657  27.789896  ...  20809900
...               ...        ...        ...        ...  ...       ...
2023-07-25  64.522522  42.800457  63.350216  39.640587  ...  25287600
2023-07-26  64.418396  43.973850  63.130276  39.621010  ...  22007900
2023-07-27  62.619789  44.664642  61.951420  39.493771  ...  24140400
2023-07-28  63.178291  44.674103  59.496937  39.464405  ...  15430600
2023-07-31  63.632679  45.487904  60.842949  39.072891  ...  16905900

Price                                                                   \
Ticker      B3SA3.SA  ELET3.SA  GGBR4.SA  ITSA4.SA  PETR4.SA  RENT3.SA
Date
2022-08-01  26237600  12239200  16655058  25799552  81365100   6769429
2022-08-02  29130100   7477600  16078734  15750344  69147100   4870629
2022-08-03  29172900   8281500  30645468  25337732  65544500   4927295
2022-08-04  59880700  15902400  25732728  31015850  54387500  10370006
2022-08-05  32183700   9913300  13861512  16892471  77882600   6859552
...              ...       ...       ...       ...       ...       ...
2023-07-25  33907800   7046000  23455920  86841206  56261000   6170578
2023-07-26  16803100   5790400   9558840  44025889  45880200   5112681
2023-07-27  18122100   6437700   9480840  34036179  86471900   6596242
2023-07-28  20678900   5087200   8486760  16150959  43608600   3812937
2023-07-31  20469500   8357200  14794440  18826086  91290800   5980447

Price
Ticker     SUZB3.SA  VALE3.SA WEGE3.SA
Date
2022-08-01  7127600  38874000  8202200
2022-08-02  4379000  32636900  7214800
2022-08-03  4451900  31934600  6627100
2022-08-04  4318300  40540800  5433900
2022-08-05  4252100  36129300  4063300
...             ...       ...      ...
2023-07-25  3793300  31556700  9924300
2023-07-26  6172200  19066400  7944300
2023-07-27  3697200  28254500  8479800
2023-07-28  3185200  45938800  5882900
2023-07-31  4602700  26065700  7141800

[250 rows x 60 columns]

In [5]:
cotacoes = df.stack(level = 1)
cotacoes

C:\Users\Usuario\AppData\Local\Temp\ipykernel_5604\913056072.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  cotacoes = df.stack(level = 1)

Price                Adj Close      Close       High        Low       Open  \
Date       Ticker
2022-08-01 ABEV3.SA  12.517459  14.630000  14.890000  14.430000  14.860000
           B3SA3.SA   9.965201  10.870000  11.120000  10.710000  11.020000
           ELET3.SA  44.577351  46.500000  46.889999  45.660000  45.799999
           GGBR4.SA  15.262523  18.785713  19.547619  18.650793  19.547619
           ITSA4.SA   5.896057   7.012189   7.127143   6.938290   7.102510
...                        ...        ...        ...        ...        ...
2023-07-31 PETR4.SA  23.551949  31.110001  31.150000  30.299999  30.299999
           RENT3.SA  63.632679  67.067726  67.506729  66.289497  66.888138
           SUZB3.SA  45.487904  48.070000  48.610001  47.340000  47.389999
           VALE3.SA  60.842949  69.160004  69.680000  67.839996  68.000000
           WEGE3.SA  39.072891  39.919998  40.290001  39.810001  40.290001

Price                  Volume
Date       Ticker
2022-08-01 ABEV3.SA  34565900
           B3SA3.SA  26237600
           ELET3.SA  12239200
           GGBR4.SA  16655058
           ITSA4.SA  25799552
...                       ...
2023-07-31 PETR4.SA  91290800
           RENT3.SA   5980447
           SUZB3.SA   4602700
           VALE3.SA  26065700
           WEGE3.SA   7141800

[2500 rows x 6 columns]

In [11]:
cotacoes = cotacoes.reset_index().rename(columns={"level_1": "Ativo"})

In [13]:
# Organizando o df
cotacoes.head(10)

Price,index,Date,Ticker,Adj Close,Close,High,Low,Open,Volume
0,0,2022-08-01,ABEV3.SA,12.517459,14.630000,14.890000,14.430000,14.860000,34565900
1,1,2022-08-01,B3SA3.SA,9.965201,10.870000,11.120000,10.710000,11.020000,26237600
2,2,2022-08-01,ELET3.SA,44.577351,46.500000,46.889999,45.660000,45.799999,12239200
3,3,2022-08-01,GGBR4.SA,15.262523,18.785713,19.547619,18.650793,19.547619,16655058
4,4,2022-08-01,ITSA4.SA,5.896057,7.012189,7.127143,6.938290,7.102510,25799552
5,5,2022-08-01,PETR4.SA,16.169098,33.680000,34.150002,33.220001,34.000000,81365100
6,6,2022-08-01,RENT3.SA,52.656380,56.892078,57.608704,56.533764,57.130951,6769429
7,7,2022-08-01,SUZB3.SA,43.352531,47.470001,48.360001,46.950001,48.360001,7127600
8,8,2022-08-01,VALE3.SA,55.528912,68.080002,69.849998,67.930000,68.940002,38874000
9,9,2022-08-01,WEGE3.SA,26.874168,27.879999,28.680000,27.770000,28.040001,8202200

In [14]:
cotacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      2500 non-null   int64
 1   Date       2500 non-null   datetime64[ns]
 2   Ticker     2500 non-null   object
 3   Adj Close  2500 non-null   float64
 4   Close      2500 non-null   float64
 5   High       2500 non-null   float64
 6   Low        2500 non-null   float64
 7   Open       2500 non-null   float64
 8   Volume     2500 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 175.9+ KB